:root {
    --text-primary: #242526;
    --link-primary: #5282FF;
    --accent-color-hover: #4A71D6;
    --white: #fff;
    --bg-header: #EDF2FF;
    --bg-menu: #FFF;
    --bg-body: #FFF;
    --bg-alerts: #D5DAE6;

    --bg-menu-hover: #E1E4ED;
    --bg-menu-active: #DAE0F2;

    /* primary button */
    --text-button: #fff;
    --bg-button: #5282FF;
    --button-border: #5282FF;
    --bg-button-hover: #4A71D6;

    /* secondary buttons */
    --text-button-secondary: #242526;
    --bg-button-secondary: #D9D9D9;
    --button-border-secondary: #D9D9D9;
    --bg-button-hover-secondary: #B2B2B2;

    --border-color: #D8DBE5;
    --border-color-filter: #cbcdd5;
    --border-color-table: #E5E5E5;
    --border-color-hover: #B2B2B2;
    --disable-color: #CCCCCC;
    --placeholder-color: #969696;
    --color-text-danger: #FB322F;
    /*
    Colors:
        text-color: #242526
        accent-color: #5282FF
        accent-color-hover: #4A71D6
        disable-color: #CCCCCC
        border-color: #E5E5E5
        border-color-hover: #B2B2B2
        placeholder-color: #969696
        color-text-danger: #FB322F
    */
}
