<div id="content">
    <dx-popup [visible]="popupVisible" width="880" height="675" [title]="title" (onShowing)="onShow()"
        (onHiding)="onHiding()" [dragEnabled]="false" [showCloseButton]="true"  class="wizard" [copyRootClassesToWrapper]="true">
        <div *dxTemplate="let t = data of 'content'">
            <div class="wizard-wrapper popup">
                <table class="wizard-table long">
                    <tr>
                        <td class="first-column">
                            <ul class="wizard-wrapper-menu text-default" style="overflow: auto; width: 100%; height:100%;">
                                <li *ngFor="let instance of instances; let i = index;" (click)="selectInstance(i)"
                                    [ngClass]="{'active': i === selectedIndex}">
                                    <span style="vertical-align: middle">{{instance.name || instance.id}}</span>
                                </li>
                            </ul>
                        </td>
                        <td class="second-column">
                            <div style="width: 100%">
                                <div style="padding: 0px; margin: 0px">
                                    <dx-tabs [showNavButtons]="false" [dataSource]="instanceOptionTabs"
                                        [(selectedItem)]="selectedInstanceOptionTab">
                                    </dx-tabs>
                                </div>
                                <div [ngClass]="selectedInstanceOptionTab.id != 0 ? 'hide': ''">
                                    <div style="margin: 20px">
                                        <table class="simple-table long-td table-middle" style="table-layout:fixed;">
                                            <tr>
                                                <td>
                                                    Instances #:
                                                </td>
                                                <td>
                                                    <dx-number-box class="short-number-box" [showSpinButtons]="true"
                                                        [(value)]="syncInstanceCount" [min]="1" [max]="5">
                                                    </dx-number-box>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Password:
                                                </td>
                                                <td>
                                                    <dx-text-box mode="password"
                                                        [(value)]="syncInstancePassword">
                                                    </dx-text-box>
                                                </td>
                                            </tr>
                                            <tr *ngIf="disks.length > 0">
                                                <td colspan="2">
                                                    <span
                                                        class="light-secondary-text text-uppercase inline-block margin-top10">Instance
                                                        Disks</span>
                                                    <dx-data-grid class="colored margin-top10" #disksGrid
                                                        selectRowOnClick [dataSource]="disks" [columns]="disksColumns"
                                                        width="100%" [(selectedRowKeys)]="selectedDiskRows"
                                                        (onSelectionChanged)="onSelectedDisksChanged()"
                                                        [paging]="{ pageSize: 5 }"
                                                        [pager]="{ showPageSizeSelector: false }">
                                                    </dx-data-grid>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <dxi-toolbar-item toolbar="bottom" location="after">
            <div class="button primary finish margin-left10" (click)="save()">
                <span>Ok</span>
            </div>
        </dxi-toolbar-item>
        <dxi-toolbar-item toolbar="bottom" location="after">
            <div class="button secondary margin-left10" (click)="hide()">
                <span>Cancel</span>
            </div>
        </dxi-toolbar-item>
    </dx-popup>
    <dx-load-panel [position]="{ of: '#content' }" [visible]="isLoading" shadingColor="rgba(0,0,0,0.2)"
        [showIndicator]="true" [showPane]="true" [closeOnOutsideClick]="false">
    </dx-load-panel>
</div>
